services:
  - type: web
    name: ydata-synthetic-app
    runtime: python
    plan: starter
    buildCommand: pip install -r requirements.txt
    startCommand: bash start.sh
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.8
